@model  List<CRUD.Models.ViewModels.ListaTablaViewModel>

@{
    ViewBag.Title = "Datos";
}

    <h2>@ViewBag.Title</h2>

<div class="row" style="text-align:right;padding:4px;">

    <a href="~/Tabla/Nuevo" class="btn btn-primary">Nuevo Elemento</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Fecha</th>
                
            </tr>
            @foreach(var oElemento in Model)
            {
        <tr>
            <td>@oElemento.Id</td>
            <td>@oElemento.Nombre</td>
            <td>@oElemento.Correo</td>
            <td>@oElemento.Fecha</td>
            <td><a href="/Tabla/editar/@oElemento.Id" class="btn btn-primary" onclick="#">Modificar</a>
            
                <a href="/Tabla/Eliminar/@oElemento.Id" class="btn btn-danger" onclick="#">Eliminar</a>
            </td>
        </tr>

            }
        </table>
    </div>

</div>